<!-- WelCome Header -->
<div class="container mt-4 text-center">
  <div class="p-4 rounded shadow" style="background: linear-gradient(135deg, #1de9b6, #00bfa5, #004d40); color: #fff;">
    <h1 style="font-family: 'Segoe UI', sans-serif; font-weight: bold;">🌟 Welcome to Your EventHub Portal! 🌟</h1>
    <p style="font-size: 1.2rem; color: #ffd700;">Discover Upcoming Events & Specials Curated Just for You</p>
  </div>
</div>

<!-- Event Cards -->
<div class="row mt-5">
  <div class="col-md-4 mb-4" *ngFor="let event of events">
    <div class="card text-center shadow-sm border-0 h-100 card-hover">
      
      <!-- Optional card header for type -->
 

      <div class="card-body">
        <h5 class="card-title" style="color: #00695c; font-weight: bold;">{{ event.name }}</h5>
        <p class="card-text" style="color: #004d40;">{{ event.description }}</p>
        <button class="btn btn-success" (click)="openAdmissionModal(event)" 
                style="background-color: #1de9b6; border: none; font-weight: bold; ">
          Take Admission
        </button>
      </div>

      <div class="card-footer text-muted" style="background-color: #e0f2f1; font-style: italic; color: #004d40;">
        Teacher: {{ event.Teacher }}
      </div>
    </div>
  </div>
</div>

<app-admission-form
  *ngIf="selectedEvent"
  [selectedEvent]="selectedEvent"
    (formsubmitted)="onFormSubmitted($event)">
</app-admission-form>
