
<div class="container mt-4 text-center">
  <div class="p-4 rounded shadow" style="background: linear-gradient(135deg, #e91e63, #c2185b, #880e4f); color: #fff;">
    <h2 style="font-weight: bold;">🌟 Exclusive Events Just for You!</h2>
    <p style="font-size: 1.1rem;">Catch the latest Sinhgad Spring Fest specials 💫</p>
  </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          <a  class="btn btn-primary" (click)="openAdmissionModal(event)">Take Admission</a>
        </div>
        <div class="card-footer text-muted">
          {{event.Teacher}}
        </div>
      </div>
    </div>
  </div>

<app-admission-form
  *ngIf="selectedEvent"
  [selectedEvent]="selectedEvent"
    (formsubmitted)="onFormSubmitted($event)">
</app-admission-form>
