<div class="dashboard-container">
  
  <h1>Admin Dashboard</h1>

  <div class="section">
    <h2>Add New Event</h2>
    <form [formGroup]="eventForm" (ngSubmit)="submitEvent()">
      <input formControlName="name" placeholder="Event Name" required />
      <textarea formControlName="description" placeholder="Description"></textarea>
      <input formControlName="Teacher" placeholder="Teacher Name" />
      <select formControlName="type">
        <option value="event">Event</option>
        <option value="special">special</option>
        
      </select>
      <button type="submit" [disabled]="eventForm.invalid">Add Event</button>
    </form>
  </div>

  <div class="section">
    <h2>All Participants</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of participants">
          <td>{{ participant.name }}</td>
          <td>{{ participant.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>